@import url(/E2ECOOLERS/reset.css);

body{
    font-family: 'Montserrat', sans-serif;
}


header{
    background-color: #f5f5f5;
    margin-top: 70px;
}

p{
    padding: 10px;
}

.container__header{
    margin: 0 auto;
    width: 1200px;
}

.header__title{
    font-weight: 700;
    font-size: 3.5em;
    color: #d7d6de;
    text-align: center;
}

.site__breadcrumbs ol{
    display: flex;
    max-width: 100%;
    padding: 20px;
    justify-content: center;
}

.site__breadcrumbs ol li a{
    list-style: none;
    text-decoration: none;
    color: #383838;
    font-size: 12px;
}


#teste::after{
    content: ">";
    position: relative;
    top: 2px;
    margin: 0px 5px 0px 5px;
    color: #383838;
}

.conteudo__inicial{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img__inicial img{
   width: 850px;
 
}

.second__title{
    font-weight: 700;
    font-size: 3.5em;
    color: #565050;
    text-align: center;
    margin-top: 80px;
}

.container__conteudo{
    text-align: justify;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    gap: 30px;
}

.cont{
    display: block;
    line-height: 1.8;
    font-size: 14px;
    color: #a0a0a0;
    padding: 10px;
    max-width: 90%;
    text-align: justify;
}

.t3{
    color: #54595F;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 8px;
}

.missao1, .missao2{
    width: 650px;
    display: block;
    line-height: 1.8;
    font-size: 14px;
    color: #a0a0a0;
    position: relative;
    text-align: justify;
}

.missao1{
    right: 100px;
}

.missao2{
    left: 100px;
}

.third__title{
    font-weight: 700;
    font-size: 2.5em;
    color: #565050;
    text-align: center;
    margin-top: 20px;
}

.conteudo2{
    display: flex;
}

.cont2{
    width: 580px;
}

.diagnostico{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.diagnostico__img img{
    width: 160px;
    border-radius: 80px;
    align-items: center;
    box-shadow:-9px 13px 8px -9px rgba(222,222,222,0.94)
}

.diagnostico{
    text-align: center;
    font-size: 18px;
    color: #54595f;
    font-weight: 300;
}

.diagnostico span{
    font-weight: bold;
}

.ativo{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #54595f;
    font-weight: bold;
}

.ativo img{
    width: 98%;
    position: relative;
    bottom: 15px;
}

